<a href="https://colab.research.google.com/github/xoAyus/Python-for-Data-Science/blob/main/Unit_2_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## RegEx Module

In [1]:
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [3]:
import re
txt="The rain in Spain"
x=re.findall("Portugal",txt)
print(x)

[]

In [6]:
import re
txt="The rain in Spain"
x=re.search("\s",txt)
print("The first white-space character is located in position:",x.start())

The first white-space character is located in position: 3

In [14]:
import re
text = "The cat sat on the mat. The dog barked at the cat. Cats and dogs live in harmony."
pattern1 = r"(cat|dog)"
matches1 = re.findall(pattern1, text, re.IGNORECASE)
print("Occurrences of 'cat' or 'dog':", matches1)
pattern2 = r"\b\w{3}\b"
matches2 = re.findall(pattern2, text)
print("Words starting with 'c' and having 3 letters:", matches2)

x=re.search("\s",text)
print("The first white-space character is located in position:",x.start())
txt2=re.split("\s",txt)
print(txt2)

Occurrences of 'cat' or 'dog': ['cat', 'dog', 'cat', 'Cat', 'dog']
Words starting with 'c' and having 3 letters: ['The', 'cat', 'sat', 'the', 'mat', 'The', 'dog', 'the', 'cat', 'and']
The first white-space character is located in position: 3
['The', 'rain', 'in', 'Spain']

In [18]:
import re
txt="The rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.span())
print(x.group())
print(x.string)

(12, 17)
Spain
The rain in Spain

In [19]:
import re
text = """
Contact us at support@example.com, sales@company.org, or admin@website.net.
For more information, visit www.example.com.
"""
x=re.search("\s",text)
print("The first white-space character is located in position:",x.start())
text2=re.split("\s",text)
print(text2)

The first white-space character is located in position: 0
['', 'Contact', 'us', 'at', 'support@example.com,', 'sales@company.org,', 'or', 'admin@website.net.', 'For', 'more', 'information,', 'visit', 'www.example.com.', '']